/*
-----------------------------
|   | Small Devices
-----------------------------
*/

@media only screen and(max-width:767px) {
    
    
    .header-text,.header-btn{
        text-align: center;
    }
    .header-text h1{
        font-size: 25px;
    }
    .header-btn{
        font-size: 15px;
    }
    
     .header-text p{
        font-size: 14px;
    }
    .header-iphone {
        display: none;
    }
    .about-iphone img {
        width: 100%;
    }
    .purchase-now .col-md-3 {
        
        text-align: center;
        padding-top: 50px;
    }
}

/*
---------------------------------
|   | Small Devices and tablates
---------------------------------
*/
@media only screen and (max-width: 768px) {
    
    .header-text,.header-btn{
        text-align: center;
    }
    .header-text h1{
        font-size: 25px;
    }
    .header-btn{
        font-size: 15px;
    }
    
     .header-text p{
        font-size: 14px;
    }
    
    .about-iphone img {
        width: 100%;
    }

}

/*
-----------------------------
|   | Medium Devices
-----------------------------
*/


/*
-----------------------------
|   | Large
-----------------------------
*/
