*{
    margin: 0;
}

body{
    font-family: "Raleway", sans-serif;
    overflow-y:scroll;
    overflow-x: hidden;
}

p{
    font-size: 14px;
}

/*
-----------------------------
|   | Generic CSS
-----------------------------
*/
.section-title{
    padding-top: 90px;
    padding-bottom: 50px;
    
}

.section-title h2{
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title h2:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129cf3;
    margin-left: -30px;
    font-size: 20px;
}

.section-title p{
    text-align: center;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 45px;
}


/*
-----------------------------
|   | Header
-----------------------------
*/
.header{
    background-image: url(../img/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;    
}

.header-iphone img{
    width: 100%; 
}

.header-overlay{
    background-color: rgba(31,31,31,0.75);
}

.logo{
    padding-bottom: 50px;
}

.header-text h1{
    color: #fff;
    font-size: 35px;
    font-weight: 300px;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
}

.header-text p{
    color: #fff;
    font-size: 18px;
    font-weight: 300px;
    line-height: 28px; 
}

.header-btn{
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
btn-download:focus,
btn-download:active,
btn-download:visited {
    color: #A9ADB0;
    background: transparent;
    border-color: #129CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-download:hover{
    background-color: #129cf3;
    color: #fff;
}

.btn-tour,
btn-tour:focus,
btn-tour:active,
btn-tour:visited{
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    -webkit-transition: all 1s;
}

.btn-tour i {
    font-size: 20px;
    padding-left: 5px;
    color: #129cf3;
    
}

.btn-tour:hover{
    
    color: #fff;
}

/*
-----------------------------
|   | About US
-----------------------------
*/

.choose-us-wraper{
    padding-top: 50px;
}

.about-left img{
    margin-top: 8px;
}
.choose-us-title{
    padding-bottom: 50px; 
    padding-left: 
}
.choose-us-title h2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}

.choose-us-title h2:after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #129cf3;
}

.choose-us-title p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}

.choose-us-item{
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.choose-us-item div{
    position: absolute;
    top: 0;
    left: 0;
}

.choose-us-item div i{
    font-size: 55px;
    color: #123cf3;
    -webkit-transition: all 3s;
    transition: all 3s;
}

.choose-us-item h2{
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.choose-us-itemp{
    color: #727272;
    font-size: 15px;
}

/*
-----------------------------
|   |Testimonials
-----------------------------
*/
.testimonial{
    background-image: url(../img/testimonial-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: 50% 50%; 
}

.testimonial-overlay{
    background-color: rgba(31,31,31,0.75); 
    padding-top: 80px;
    padding-bottom: 80px;
}
.carousel-indicators{
    bottom: -12px;
    
}

.carousel-inner .carousel-item img{
    border: 2px solid #129cf3;
    border-radius: 50%;
    padding: 3px;
    
}

.testimonial-caption{
    padding-bottom: 70px; 
}

.testimonial-caption h2{
    color: #129cf3;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 30px;
    margin-top: 25px;
}

.testimonial-caption h4{
    color: #129cf3;
}

.testimonial-caption h4 span{
    color: #d8d8d8;
    font-style: italic;
    font-weight: 300;
}

.testimonial-caption p{
    color: #d8d8d8;
    font-size: 20px;
    line-height: 27px;
    padding-top: 50px;
}
/*
-----------------------------
|   |Features
-----------------------------
*/
.feature-inner-wraper{
    padding-top: 30px;
    padding-bottom:70px;
}

.left-feature-item{
    position: relative;
    padding-right: 90px;
    margin-bottom: 65px;
    text-align: right;
    margin-top: 35px;
}

.left-feature-item-icon{
    position: absolute;
    right: 0;
    top: -7px;
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 40px;
    color: #129cf3;
}

.left-feature-item h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color:#333;
}

.left-feature-item p{
    color:  #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}

.feature-iphone img{
    width: 100%;
}

.right-feature-item{
    position: relative;
    padding-left: 90px;
    margin-bottom: 65px;
    margin-top: 35px;
    text-align: left;
}

.right-feature-item-icon{
    position: absolute;
    left: 0;
    top: -7px;
    width: 90px;
    height: 90px;
    text-align: center;
    font-size: 40px;
    color: #129cf3;
}

.right-feature-item h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 21px;
    color:#333;
}

.right-feature-item p{
    color:  #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
}
/*
-----------------------------
|   |
-----------------------------
*/
.purchase{
    background-color: #1a1a1a;
    padding-top: 100px;
    padding-bottom: 100px;
}

.purchase p{
    color: #dfdfdf;
    font-size: 20px;
    font-weight: 300;
}

.btn-purchase,
.btn-purchase:active,
.btn-purchase:focus,
.btn-purchase:visited{
    background-color: #129cf3;
    border: 1px solid #129cf3;
    color: #fff;
    border-radius: 3px;
    padding: 15px 35px;
    text-transform: uppercase;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-purchase:hover{
    background-color: #1274b1;
    border-color: #316b90;
}
/*
-----------------------------
|   | Counter Section
-----------------------------
*/
.counter{
    background-image: url(../img/counter-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.counter-overlay{
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, 0.4);
}

.counter-item i{
    color: #129cf3;
    font-size: 60px;
    
}

.counter-item h2{
    color: #d7d7d8;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
    font-family: "Source Sans Pro", sans-serif;
}

.counter-item p{
    color: #d7d7d8;
    font-weight: 300;
    font-size: 20px;
    margin-top: 0;
    text-transform: uppercase;
    font-family: "Source Sans Pro", sans-serif;
}



















/*
-----------------------------
|   |
-----------------------------
*/