*{
    margin: 0;
}

body{
    font-family: "Raleway", sans-serif;
    overflow-y:scroll;
    overflow-x: hidden;
}

p{
    font-size: 14px;
}

/*
-----------------------------
|   | Generic CSS
-----------------------------
*/
.section-title{
    padding-top: 90px;
    padding-bottom: 50px;
    
}

.section-title h2{
    position: relative;
    text-align: center;
    color: #333;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
}

.section-title h2:after{
    content: "";
    position: absolute;
    bottom: -20px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #129cf3;
    margin-left: -30px;
    font-size: 20px;
}

.section-title p{
    text-align: center;
    color: #333;
    font-size: 18px;
    line-height: 28px;
    font-weight: 300;
    margin-top: 45px;
}


/*
-----------------------------
|   | Header
-----------------------------
*/
.header{
    background-image: url(../img/header-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;    
}

.header-iphone img{
    width: 100%; 
}

.header-overlay{
    background-color: rgba(31,31,31,0.75);
}

.logo{
    padding-bottom: 50px;
}

.header-text h1{
    color: #fff;
    font-size: 35px;
    font-weight: 300px;
    line-height: 45px;
    padding-top: 30px;
    text-transform: uppercase;
}

.header-text p{
    color: #fff;
    font-size: 18px;
    font-weight: 300px;
    line-height: 28px; 
}

.header-btn{
    margin-top: 90px;
    margin-bottom: 50px;
}

.btn-download,
btn-download:focus,
btn-download:active,
btn-download:visited {
    
    background: transparent;
    border-color: #123CF3;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: all 1s;
    transition: all 1s;
}

.btn-download:hover{
    background-color: #129cf3;
    color: #fff;
}

.btn-tour,
btn-tour:focus,
btn-tour:active,
btn-tour:visited{
    color: #A9ADB0;
    margin-left: 20px;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    -webkit-transition: all 1s;
}

.btn-tour i {
    font-size: 20px;
    padding-left: 5px;
    color: #129cf3;
    
}

.btn-tour:hover{
    
    color: #fff;
}

/*
-----------------------------
|   | About US
-----------------------------
*/

.choose-us-wraper{
    padding-top: 50px;
}

.about-left img{
    margin-top: 8px;
}
.choose-us-title{
   padding-bottom: 50px; 
}
.choose-us-title h2{
    text-transform: uppercase;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    position: relative;
}

.choose-us-title h2:after{
    content: "";
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 70px;
    height: 1px;
    background-color: #129cf3;
}

.choose-us-title p{
    margin-top: 30px;
    font-size: 20px;
    line-height: 24px;
}

.choose-us-item{
    position: relative;
    padding-bottom: 4px;
    padding-left: 80px;
}

.choose-us-item div{
    position: absolute;
    top: 0;
    left: 0;
}

.choose-us-item div i{
    font-size: 55px;
    color: #123cf3;
    -webkit-transition: all 3s;
    transition: all 3s;
}

.choose-us-item h2{
    color: #343434;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.choose-us-itemp{
    color: #727272;
    font-size: 15px;
}








/*
-----------------------------
|   |
-----------------------------
*/